body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(215 112 206);
    padding: 20px;
    font-size: 32px;
    color: rgb(213, 0, 249);
}
section {
    background: rgb(215 112 206);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}


.chamada-texto {
    margin-right: 20px;
}